{{ define "main" }}

    <dl class="container grid">
        {{ range $index, $data := .Site.Data.words }}
            {{ range $title, $value := $data }}

                {{/*  TODO: make a card component  */}}
                <dt id="{{ $title }}"
                    class="card card-tag"
                    style="--bg-hue:{{ mul $index ( div 360 ($.Site.Data.words|len) ) }};">
                    <h2 class="title">
                        {{ $title | upper }}
                    </h2>
                </dt>

                {{ range $words := $value }}
                    {{/*  TODO: use the card component  */}}
                    <dd class="card"
                        style="--bg-hue:{{ mul $index ( div 360 ($.Site.Data.words|len) ) }};">
                        {{ range $index, $word := $words }}
                            <span class="word-{{ $index }}">
                                {{ $word }}
                            </span>
                        {{ end }}
                    </dd>
                {{ end }}

            {{ end }}
        {{ end }}
    </dl>

{{ end }}
